{% extends 'todo/_base.html' %}
{% load widget_tweaks %}

{% block body %}

	<h3 class="text-center"> <strong>Change Password</strong> </h3> <br>

	<form action="{% url 'accounts:change_password' %}" method="post">
		{% csrf_token %}

		{% include "todo/form_snippet.html" with form=change_pass_form %}

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        {% if message %}
          <div id="message">
            <strong> {{ message }} </strong>
          </div>
        {% endif %} 
      </div>
      <div class="col-md-4"></div>
    </div><br>

		<div class="text-center">
			<input type="submit" value="Change password" class="btn btn-primary">
		</div>
	
	</form>

{% endblock %}