{% extends 'todo/_base.html' %}

{% block body %}

	<div class="registerForm">

		<form action="{% url 'accounts:user_register' %}" method="post">
			{% csrf_token %}

				<br><h3 class="text-center"> <strong>Register Account</strong> </h3><br>

        {% include 'todo/form_snippet.html' with form=register_form %}

        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            {% if message %}
              <div id="message">
                <strong> {{ message }} </strong>
              </div>
            {% endif %} 
          </div>
          <div class="col-md-4"></div>
        </div> <br>

        <div class="text-center">
          <input type="submit" value="Register" class="btn btn-primary">
        </div>
        
		</form>
	</div>

{% endblock %}