{% extends 'todo/_base.html' %}

{% block body %}

	<h3 class="text-center"> <strong>Change Password</strong> </h3> <br>



	<form action="{% url 'todo:changePassword' %}" method="post">
		{% csrf_token %}

		{% if message %}
			<p class="text-danger"> <strong> {{ message }} </strong> </p>
		{% endif %}	

		<div class="form-group">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<label>Current password</label>
					<input type="password" name="currPassword" class="form-control">
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>

		<div class="form-group">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<label>New password</label>
					<input type="password" name="password" class="form-control">
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>

		<div class="form-group">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<label>Re-enter new password</label>
					<input type="password" name="repassword" class="form-control">
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>

		<div class="text-center">
			<input type="submit" value="Change password" class="btn btn-primary">
		</div>
	
	</form>

{% endblock %}