{% extends 'todo/_base.html' %}
{% load widget_tweaks %}

{% block body %}

<h2 class="text-center"> <strong>{{ todo.content }}</strong></h2>
<br>

<form action="{% url 'todo:editTodo' todo.id %}" method="post">
{% csrf_token %}

	<div class="form-group">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-3">
				<label>Created at</label>
				{{ detail_form.created_date.label_tag }}
				<label class="form-control">
					{{ todo.created_date | date:'d/m/Y' }} -
					{{ todo.created_date | date:'h:i A' }}
				</label>  
				<!--{{ detail_form.created_date.label_tag }}
				{{ detail_form.created_date }}-->
			</div>

			<div class="col-md-2">
				{{ detail_form.priority.label_tag }}
				{{ detail_form.priority | attr:"class:form-control" }}
			</div>

			<div class="col-md-2">
				{{ detail_form.status.label_tag }}
				{{ detail_form.status | attr:"class:form-control" }}
			</div>		
			<div class="col-md-2"></div>	
		</div>
		<br>
		<div class="row">
			<div class="col-md-3"></div>

			<div class="col-md-7">
				<!--<label>Additional details</label>
				<textarea class="form-control" rows="6" name='moreinfo'>
					{{ todo.moreinfo }}
				</textarea> -->
				{{ detail_form.moreinfo.label_tag }}
				{{ detail_form.moreinfo | attr:"class:form-control" }}
			</div>

			<div class="col-md-2"></div>
		</div>

	</div>

	<div class="text-center">
		<input type="submit" value="Save" class="btn btn-primary">
	</div>
	
</form>

{% endblock %}