{% extends 'todo/_base.html' %}

{% block body %}

	<div class="loginForm">

		<form action="{% url 'todo:user_login' %}" method="post">
			{% csrf_token %}

      <br><h2 class="text-center"><strong>User Login</strong></h2> <br>

      {% include 'todo/form_snippet.html' with form=login_form %}
      
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          {% if message %}
            <div id="message">
              <strong> {{ message }} </strong>
            </div>
          {% endif %} 
        </div>
        <div class="col-md-4"></div>
      </div> <br>

      <div class="text-center">
        <input type="submit" value="Login" class="btn btn-primary">
      </div>

		</form>
	</div>

{% endblock %}