{% extends 'todo/_base.html' %}
{% load widget_tweaks %}

{% block body %}

	<div id="createTodoDiv">
		<form class="form-inline" id="createTodoForm" action="{% url 'todo:create_todo' %}" method="post">
			{% csrf_token %}

			<div class="form-group">
				{{ new_todo_form.content.label_tag }}			
				{{ new_todo_form.content | attr:"class:form-control" }}
			</div> &nbsp;&nbsp;

			<div class="form-group">
				{{ new_todo_form.priority.label_tag }}
				{{ new_todo_form.priority | attr:"class:form-control" }}
			</div> &nbsp;&nbsp;

			<input type="submit" value="Create" class="btn btn-primary btn-sm">	
		
		</form>
	</div>

	{% include 'todo/notdone.html' %}

{% endblock %}

