{% extends 'todo/_base.html' %}

{% block body %}

	<div id="createTodoDiv">
		<form id="createTodoForm" action="{% url 'todo:createTodo' %}" method="post">
			{% csrf_token %}

			<label>What to do? </label> &nbsp;
			<input type="text" id="newTodoContent" name="content">
			&nbsp; &nbsp;

			<label>Priority: </label> &nbsp;

			<select id="priorityOpt" name="priority">
				{% for num, display in pdict.items %}
					<option value="{{ display }}"> {{ display }} </option>
				{% endfor %}
			</select>
			&nbsp; &nbsp;

			<input type="submit" value="Create" class="btn btn-primary btn-sm">			

		</form>
	</div>

	{% include 'todo/notdone.html' %}

{% endblock %}

